@*DELETE ME AFTER TESTING!!*@
@page "/test"
@using Microsoft.EntityFrameworkCore
@inject CooksRUsDbContext dbContext
@rendermode InteractiveServer
<div class="user-CRUD">
    <button @onclick="AddPerson">Create User</button>

    <br />
    <button @onclick="FetchPerson">Get user</button>
    @if(person == null)
    {
        <p>No person gotten!</p>
    }
    else
    {
        <p>Id: @person.id</p>
        <p>Username: @person.username</p>
        <p>Password: @person.password</p>
    }
    <br />
    <button @onclick="UpdatePerson">Update User</button>
    <br />
    <button @onclick="RemovePerson">Delete weety goes MSL</button>
</div>

<div class="recepie-CRUD">
    <button @onclick="MakeIngredient">Make ingredient</button>
    <button @onclick="MakeIngredientList">Make ingredient list</button>
    <button @onclick="MakeRecepie">Make recepie</button>


    <button @onclick="FetchRecepie">get recepie</button>
    @if (recepie == null)
    {
        <p>No recepie gotten!</p>
    }
    else
    {
        <p>Id: @recepie.id</p>
        <p>name: @recepie.recepie_name</p>
        <p>directions: @recepie.directions</p>
        <p>creator: @recepie.creator.username</p>
        @foreach(ingredient ing in ing_lst.ingredients.ToArray())
        {

            <p>@ing.ingredient_name</p>
            <p>@ing.amount</p>
            
        }
    }
</div>

<div class="CREATING-A-USER">

    <label>username inpit</label>
    <input type="text" placeholder="username" @bind-value="user_name"/>
    <br />
    <label>password input</label>
    <input type="text" placeholder="password" @bind-value="newUserPassword"/>
    <br />

    <button @onclick="CreateUser">Submit</button>


    

</div>

@code {
    public user? person { get; set; }

    public recepie? recepie { get; set; }
    public ingredient_list? ing_lst { get; set; }

    // trying to make thigns interactive

    public string user_name { get; set; } = "";
    public string newUserPassword { get; set; } = "";

    // represents the ID of the current user, in this case, user #9
    int userID = 9;


    private async Task CreateUser()
    {
        if (!String.IsNullOrWhiteSpace(user_name) && !String.IsNullOrWhiteSpace(newUserPassword))
        {
            try
            {
                var newUser = new user
                {
                    username = user_name,
                    // TODO: probbaly secure user passwords by hashing / encrypting them
                    // however prioritize having a WORKING PRODUCT
                    password = newUserPassword
                };
                dbContext.users.Add(newUser);
                await dbContext.SaveChangesAsync();
            }
            catch
            {
                //ERROR HERE
            }
        }
        else
        {
            //ERROR HERE
            //SHOW "username and password is required"
        }
    }

    private List<ingredient> ing_list = new List<ingredient>();
    private recepie newRecepie;

    protected override void OnInitialized()
    {
        AddIngredient();
    }

    private void AddIngredient()
    {
        ing_list.Add(new ingredient { list_id = 0, ingredient_name = "", amount = "" });
    }

    private void DeleteIngredient(ingredient ingre)
    {
        ing_list.Remove(ingre);
    }

    //MANAGING USERS
    //Adding data
    // MAKE LOGIC TO ENSURE NO DUPE USERNAMES
    private async Task AddPerson()
    {
        var newUser = new user { username = "MSL1002",
                                 password = "password"};
        dbContext.users.Add(newUser);
        await dbContext.SaveChangesAsync();

    }

    //fetching data
    private async Task FetchPerson()
    {
        person = await dbContext.users
            .Where(u => u.username == "MSL1002")
            .FirstOrDefaultAsync();
    }
    //update data
    private async Task UpdatePerson()
    {
        person = await dbContext.users
            .Where(u => u.username == "MSL1002")
            .FirstOrDefaultAsync();

        if(person != null)
        {
            person.username = "Isabelle Johnson";
        }

        await dbContext.SaveChangesAsync();
    }
    //deleting data
    private async Task RemovePerson()
    {
        user entity = await dbContext.users.Where(u => u.username == "Isabelle Johnson").FirstOrDefaultAsync();
        if(entity != null)
        {
            dbContext.users.Remove(entity);
            await dbContext.SaveChangesAsync();
        }
    }


    //ingredient stuff

    //TODO add these ingredients to a list and that list to a recepie
    private async Task MakeIngredient()
    {
        var newingredient = new ingredient
            {
                list_id = 2,
                ingredient_name = "cheese",
                amount = "1 slice"
            };
        dbContext.ingredients.Add(newingredient);
        await dbContext.SaveChangesAsync();
    }

    private async Task MakeIngredientList()
    {
        var newIngList = new ingredient_list
            {
                recepie_id = 1,
                ingredients = dbContext.ingredients.Where(ingredient => ingredient.list_id == 1).ToList(),

            };

        dbContext.ingredient_lists.Add(newIngList);
        await dbContext.SaveChangesAsync();
    }

    private async Task MakeRecepie()
    {
        var userEntity = await dbContext.users
            .FirstOrDefaultAsync(u => u.id == userID);
        if (userEntity == null) { return; }

        var newRecepie = new recepie {
            recepie_name = "Bread",
            directions = "make toast",
            image = null,
            creatorid = userEntity.id
        };

        dbContext.recepies.Add(newRecepie);
        await dbContext.SaveChangesAsync();
    }

    private async Task FetchRecepie()
    {
        recepie = await dbContext.recepies
            .Include(r => r.creator) // include the creator
            .Where(r => r.recepie_name.ToLower() == "grilled cheese")
            .FirstOrDefaultAsync();

        if (recepie != null)
        {
            // load correct ingredient list by recepie_id instead of id
            ing_lst = await dbContext.ingredient_lists
                .Where(lst => lst.recepie_id == recepie.id)
                .FirstOrDefaultAsync();
        }

        Console.WriteLine(recepie?.creator);
    }

}
